/* BASIC STYLES HERE */

:root{
  --bs-offcanvas-height: 50vh !important;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/67/3/NWidYm.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

body.light .container-fluid{
  background-color: rgba(240, 248, 255, 0.35);
  color: darkslateblue;
}

body.dark main p.lead{
  color: rgba(240, 248, 255);
  background-color: rgba(18, 14, 44, 0.5);
  padding: 3rem;
}


.scrollable-x {
  overflow-x: auto !important;
  max-width: 100vw;
}

#favPods.offcanvas.offcanvas-bottom{
  height: 70vh !important;
}

.fav-card img {
  width: 20vw;
  max-height: 60vh;
  object-fit: contain;
}